.cocktail-home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home-page-carousal .carousel-inner div img {
  height: 500px;
  object-fit: cover;
  margin-top: 2rem;
}

.cocktail-home-main h1 {
  color: var(--primary-white);
  text-align: center;
  text-transform: uppercase;
  margin-top: 3rem;
}

main.cocktail-home-main > p {
  color: var(--primary-white);
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 5rem;
}

main.cocktail-home-main > button {
  background-color: var(--secondary-dark);
  color: var(--primary-yellow);
  border: 1px solid var(--primary-yellow);
  border-radius: 5px;
}

.cocktail-home-main > button.active {
  background-color: var(--primary-yellow);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
}

.cocktail-home-main input[type="search"] {
  background-color: var(--primary-dark);
  color: var(--secondary-white);
}

input[type="search"]::-webkit-input-placeholder {
  color: var(--secondary-white);
}

.renderer-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
