footer {
  height: 80px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #161212;
  color: #ffffff;
  margin-top: 8rem;
}
