.navbar-wrapper {
  background-color: var(--secondary-black);
}

.navbar-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-left: 1rem;
}

.navbar-wrapper .navbar-toggler {
  background-color: var(--primary-yellow);
  margin-right: 1rem;
}
