footer {
  height: 80px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-black);
  color: var(--secondary-white);
  margin-top: 8rem;
}
